---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

import PostList from "../../components/post-list.astro";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.dateCreated.valueOf() - a.data.dateCreated.valueOf()
);
---

<Layout>
    <h1>Blogs</h1>
    This list shows all blog posts I have published, sorted descendingly by date.
    <br />
    Every blog post I publish has three tags to categorize them, which you can browse
    <a href="/tags">here</a>.

    <PostList posts={posts} />
</Layout>
