---
import Layout from "../../layouts/Layout.astro";
import { getCollection } from "astro:content";

import PostList from "../../components/post-list.astro";

const posts = (await getCollection("blog"))
    .filter((post) => post.id.includes("road-to-audio-software-developer-"))
    .sort(
        (a, b) => a.data.dateCreated.valueOf() - b.data.dateCreated.valueOf()
    );
---

<Layout>
    <h1>Blog series: 'The Road To Becoming An Audio Software Developer'</h1>

    In this series, I explore the audio software development ecosystem, with all
    its related fields such as music production, signal processing and systems
    programming.

    <PostList posts={posts} />
</Layout>
