---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import dayjs from "dayjs";
import PostList from "../../components/post-list.astro";

export async function getStaticPaths() {
    const posts = await getCollection("blog");

    const tags: string[] = [];

    posts.forEach((post) => {
        post.data.tags.forEach((tag) => {
            if (!tags.includes(tag)) {
                tags.push(tag);
            }
        });
    });

    return tags.map((tag) => ({
        params: { tag },
    }));
}

const { tag } = Astro.params;

const posts = (await getCollection("blog"))
    .filter((post) => post.data.tags.includes(tag))
    .sort(
        (a, b) => b.data.dateCreated.valueOf() - a.data.dateCreated.valueOf()
    );
---

<Layout>
    <h1>Tag: <i>'{tag}'</i></h1>
    Every blog post I publish has three tags to categorize them. This list shows
    all blog posts that are tagged with <i>'{tag}'</i>.
    <br />
    You can find all tags <a href="/tags">here</a>.

    <PostList posts={posts} />
</Layout>
