---
import Layout from "../../layouts/Layout.astro";
import { getPosts } from "../../utils/get-posts";
import { getProjects } from "../../utils/get-projects";

const tags: { name: string; count: number }[] = [];

[...(await getPosts()), ...(await getProjects())].forEach((item) => {
    item.data.tags.forEach((tag) => {
        const existingTag = tags.find(
            (existingTag) => existingTag.name === tag
        );

        if (existingTag) {
            existingTag.count++;
        } else {
            tags.push({
                name: tag,
                count: 1,
            });
        }
    });
});
---

<Layout>
    <h1>Tags</h1>
    All content I publish has three tags to categorize them. This list shows all
    existing tags and includes how many pieces of content have been categorized with
    that tag.

    <ul class="mt-8">
        {
            tags
                .sort((a, b) => a.name.localeCompare(b.name))
                .map(({ count, name }) => (
                    <li>
                        <a href={`/tags/${name}`}>{name}</a> ({count})
                    </li>
                ))
        }
    </ul>
</Layout>
