---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    Someday, this page will introduce me and what I do. Someday! <br /><br /> Meanwhile,
    go ahead and browse through <a href="/blog">the blogs I have published</a>.
</Layout>
