---
import type { CollectionEntry } from "astro:content";
import dayjs from "dayjs";

type Props = {
    posts: Array<CollectionEntry<"blog">>;
};

const { posts } = Astro.props;
---

<ul class="mt-8 flex flex-col gap-y-4">
    {
        posts.map((post) => (
            <li>
                <a href={`/blog/${post.id}/`}>
                    <h4 class="title">
                        {!post.data.published && "[DRAFT] - "}
                        {post.data.title}
                    </h4>
                </a>
                <span class="text-xs">
                    published{" "}
                    {dayjs(post.data.dateCreated).format("MMMM D, YYYY")}
                </span>
                <p class="indent-0">{post.data.description}</p>
            </li>
        ))
    }
</ul>
